header {
	background-color: #303030;
}

.navbar {
	width: 80%;
	margin: 0 auto;
}

.currentDay,
.localTime {
	cursor: alias;
}

.container {
	max-width: 90%;
}

h1 {
	font-size: 30px !important;
}

.city-heading {
	font-size: 25px;
}
.underline {
	text-decoration: underline;
}

/* #taskArea {
	background-color: #303030;
	font-size: 18px;
	border: none;
	color: rgb(255, 255, 255, 0.35);
} */

.card-header {
	font-size: 18px;
}

.card-header span {
	font-weight: 800;
}

.card-body {
	font-size: 18px;
	cursor: text;
	padding: 0 15px;
}

.temp-num {
	font-weight: 800;
}

.small {
	font-size: 14px;
	color: #ffffff91;
}

.temp-heading,
.weather-heading {
	font-size: 14px;
	color: #ffffff91;
}

/* Media Queries for responsive UX */
@media screen and (max-width: 769px) {
	h1 {
		text-align: center;
		padding-bottom: 15px;
	}
	form {
		width: 90%;
		margin: 0 auto;
	}
	.submit {
		width: 100%;
	}
}
